body {
  background-color: black !important;
}

.about-head {
  padding: 5vh 2vw 3vh 1vw;
}

.about-data {
  padding-left: 1vw;
  padding-right: 2vw;
  font-size: 1.5rem;
}
.about-pic {
  height: 100%;
  width: inherit;
  padding: 5vh 3vw;
}

.about-pic:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

/* THe heading with the logo */
#headLogo {
    height: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#headLogo img {
	max-height: 80%;
	max-width: 80%;
}

#headLogo span {
  margin: auto 0;
  color: white;
  font-size: 3.8em;
  font-family: 'Alice', serif;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The card */
/*.card {
  position: absolute;
  /* height: 65vh;
  width: 85vw; */
/*  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(176, 176, 176, 0.72);
  -moz-box-shadow: 0px 0px 10px 5px rgba(176, 176, 176, 0.72);
  box-shadow: 0px 0px 10px 5px rgba(176, 176, 176, 0.72);
  margin: 5vh 10vw 10vh 10vw;
}*/
/*
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600";
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  display: inline-block;
  line-height: 1px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.6);
}*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#content1 .flex {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.card {
  margin: 0 0 3% 1%;
  width: 48vw;
  height: calc((4/3)*48vw);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 19px 48px rgba(0, 0, 0, 0.3), 0 15px 32px rgba(0, 0, 0, 0.22);
}
.card .header {
  height: 40%;
  width: 100%;
  background-color: #4426a8;
  position: relative;
  background-size: cover;
  background-position: center top;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}
.card .header.collapse {
  height: 0px;
}
.card .header .title {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0px 15px;
}
.title-about {
  background-image: url("./../images/about.JPG");
  background-size: cover;
  background-repeat: no-repeat;

}
.title-mascot {
  background-image: url("./../images/mascot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card .header .title h1 {
  margin: 0px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.card .header .title h6 {
  font-size: 16px;
  color: #644cad;
  margin: 0;
}
.card .header .title h6 span {
  color: #FFF;
}
.card .header:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 34px;
  background-repeat: no-repeat;

}
.card .content {
  height: 60%;
  width: 100%;
  overflow-x: hidden;
  padding: 20px 30px 30px 30px;
  position: relative;
  background-color: #FAFAFA;
  overflow-y: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}
.card .content.full {
  height: 600px;
  overflow-y: scroll;
}
.card .content.full .articlemeta {
  transform: translateY(30px);
  opacity: 0;
}
.card .content.full .closebar {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.card .content.full .closebar h1 {
  opacity: 1;
}
.card .content .closebar {
  padding: 0px 20px;
  transform: translateY(-30px);
  opacity: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #FFF;
  top: 0;
  left: 0;
  border-bottom: 1px solid #EEE;
}
.card .content .closebar .closebttn {
  position: absolute;
  right: 15px;
  top: -2px;
}
.card .content .closebar h1 {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  opacity: 0;
  margin: 0px;
  padding: 0px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}
.card .content .articlemeta {
  position: absolute;
  z-index: 99999;
  background: #FFF;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 3px;
  border-top: 1px solid #EEE;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.card .content .articlemeta:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 100%;
  top: -41px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
}
.card .content .articlemeta ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.card .content .articlemeta ul.left {
  float: left;
}
.card .content .articlemeta ul.left li {
  border-right: 1px solid #EEE;
}
.card .content .articlemeta ul.right {
  float: right;
}
.card .content .articlemeta ul.right li {
  border-left: 1px solid #EEE;
}
.card .content .articlemeta ul li {
  display: inline-block;
  padding: 12px 15px 16px;
  cursor: pointer;
}
.card .content .articlemeta ul li:hover .material-icons {
  color: #644cad;
}
.card .content .articlemeta ul .material-icons {
  margin-right: 5px;
}
.card .content .bttn {
  display: block;
  padding: 10px 25px;
  text-align: center;
  border-radius: 3px;
  background-color: #1e76e3;
  text-decoration: none;
  color: #FFF;
  transition: 300ms all;
}
.card .content .bttn:hover {
  background-color: #1a6ace;
}
.card .content .readmore {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 300ms all;
  color: #333;
}
.card .content .readmore:after {
  opacity: 0;
  text-align: center;
  content: 'Tap to read more';
  font-size: 22px;
  position: absolute;
  display: block;
  width: 50%;
  padding: 10px 25px;
  background-color: #EEE;
  border: 1px solid #DDD;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  transition: 300ms all;
  transform: translateY(20px);
}
.card .content .readmore:hover:after {
  opacity: 1;
  transform: translateY(0px);
  box-shadow: rgba(65, 92, 105, 0.0588235) 0px 1.5px 13px;
}

.card .content h2 {
  font-family: 'Jura', 'sans-serif';
  font-weight: bold;
}

.card .content p {
  color: black;
  font-size: 14px;
  line-height: 1.45;
  font-family: 'Jura', 'sans-serif';
  font-weight: 600;
  letter-spacing: 2;
}
.card .content p:first-of-type {
  margin-top: 0px;
}

@media (max-width: 767px) {
  .card .content .readmore:after {
    opacity: 1;
    text-align: center;
    content: 'Tap to read more';
    font-size: 22px;
    color: #EEE;
    position: absolute;
    display: block;
    width: 50%;
    padding: 10px 25px;
    background-color: #333;
    border: 1px solid #555;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    transition: 300ms all;
    transform: translateY(0px);
  }
}


@media screen and (max-width: 925px) {
  #headLogo span {
    font-size: 3.4em;
    display: block;
  }
  .card {
    width: 50vw;
    height: 75vh;
  }
  .card h2 {
    font-size: 2em;
  }
  .card .content p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 800px) {
  #headLogo span {
    font-size: 2.5em;
    display: block;
  }
  .card {
    width: 50vw;
    height: 65vh;
  }
  .card h2 {
    font-size: 2em;
  }
  .card .content p {
    font-size: 1em;
  }
}

@media screen and (max-width: 700px) {
  #headLogo span {
    font-size: 2em;
    display: block;
  }
  .card {
    width: 50vw;
    height: 75vh;
  }
  .card h2 {
    font-size: 1.5em;
  }
  .card .content p {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 545px) {
  .footer-distributed {
    margin-left: 0;
    width: 100%;
  }
  #headLogo {
    margin-top: 10%;
  }
  #headLogo span {
    font-size: 2em;
    display: block;
  }
  .card {
    width: 85vw;
    height: 80vh;
  }
  .card h2 {
    font-size: 1.5em;
  }
  .card .content p {
    font-size: 1em;
  }
}
