/* Header */
.content {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center center;
	z-index: 1;

}

.header .content {
	background-image:url(main-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	animation: AnimationName 3s ease infinite;

}


@keyframes AnimationName {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}


.demo-1 .main-title{
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}
@media only screen and (max-width : 768px) {
	.demo-1 .main-title{
		font-size: 3em;
	}
}
