/* THe heading with the logo */
#headLogo {
    height: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#headLogo img {
    max-height: 80%;
    max-width: 80%;
}

#headLogo span {
    margin: auto 0;
    color: white;
    font-size: 48px;
    font-family: 'Alice', serif;
}
#loginForm{
    width: 50vw;
    margin: 2% auto;
    text-align: center;
    position: relative;
}
.fields{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}
/*buttons*/
.fields .button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 1.5em;
}

.fields .button:hover,.fields .button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.heading{
    font-size: 1.5em;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fields input{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    color: #2C3E50;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #loginForm {
        width: 60vw;
    }
}

@media (max-width: 545px) {
    #loginForm {
        width: 100vw;
    }
}
