/* THe heading with the logo */
#headLogo {
    height: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#headLogo img {
    max-height: 80%;
    max-width: 80%;
}

#headLogo span {
    margin: auto 0;
    color: white;
    font-size: 48px;
    font-family: 'Alice', serif;
}


#team {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    margin-left: 6rem;
}

/* Background Image */
/* body {
    background-image: url("./../images/main-background.jpg");
    background-size: 100vw;
    /* background-repeat: repeat-y;   */
    background-repeat: repeat-y;
} */

/* Our Team
-------------------------------------------------------*/

/* .our-team .team-row {
    margin-left: -40px;
    margin-right: -40px;
} */

.our-team .team-wrap {
    padding: 0 40px;
}

.our-team .container-fluid {
    padding: 0 50px;
}

.team-img img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
<<<<<<< HEAD
    overflow: hidden;
    width: 100%;
=======
    margin: auto;
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
}

.team-member,
.team-img {
    position: relative;
<<<<<<< HEAD
    overflow: hidden;
=======
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    margin-bottom: 2%;
    margin-top: 2%;
}

.team-member {
    height: 50vh;
<<<<<<< HEAD
}

.team-img {
    height: 100%;
=======
    align-items: center;
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
}

.team-title {
    margin: 30px 0 7px;
}
<<<<<<< HEAD

=======
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
.overlay {
    background-color: rgba(20, 20, 20, .7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.team-details {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.team-details h1,h2,h3,h3,h5,h4,h6 {
    color: #fff;
}

.team-details h2 {
    font-size: 2em;
}

.team-details h3 {
    font-size: 1.5em;
}

.team-img:hover .team-details {
    opacity: 1;
    margin-top: -80px;
}

.team-img:hover .overlay {
    opacity: 1;
}

.socials a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
}

.socials i {
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.team-details .socials i {
    color: #fff;
}

.socials a:hover i {
    color: #fff;
    background-color: #355c7d;
}

@media (max-width: 768px) {
    #headLogo span {
        font-size: 2.5em;
        display: block;
      }
	.team-member {
<<<<<<< HEAD
        height: 40vh; 
=======
        height: 40vh;
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    }

    .container {
        margin-left: 8%;
    }

    .team-details h2 {
        font-size: 1.5em;
    }
<<<<<<< HEAD
    
=======

>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    .team-details h3 {
        font-size: 1.1em;
    }

    .team-details h4 {
        font-size: 1em;
    }
}

@media (max-width: 625px) {
    #headLogo span {
        font-size: 2em;
        display: block;
      }
	.team-member {
<<<<<<< HEAD
        height: 30vh; 
=======
        height: 30vh;
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    }

    .container {
        margin-left: 8%;
    }

    .team-details h2 {
        font-size: 1.1em;
    }
<<<<<<< HEAD
    
=======

>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    .team-details h3 {
        font-size: 1em;
    }

    .team-details h4 {
        font-size: 0.9em;
    }
}

@media (max-width: 545px) {
    #headLogo {
        margin-top: 10%;
      }
      #headLogo span {
        font-size: 2em;
        display: block;
      }

	.team-member {
<<<<<<< HEAD
        height: 28vh; 
=======
        height: 28vh;
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    }

    .container {
        margin-left: 0%;
    }

    .team-details h2 {
        font-size: 1em;
    }
<<<<<<< HEAD
    
=======

>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    .team-details h3 {
        font-size: 0.9em;
    }

    .team-details h4 {
        font-size: 0.8em;
    }
}

@media (max-width: 420px) {
	.team-member {
<<<<<<< HEAD
        height: 24vh; 
=======
        height: 24vh;
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    }

    .container {
        margin-left: 0%;
    }

    .team-details h2 {
        font-size: .9em;
    }
<<<<<<< HEAD
    
=======

>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
    .team-details h3 {
        font-size: 0.85em;
    }

    .team-details h4 {
        font-size: 0.8em;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 004eca232b57bb0a1e606f9561318c39ef170bcc
